.MySave{
    width:100vw;
    height:100vh;

    overflow-y: auto;
}

.MySave .image-box{
    width:calc(100% - 40px);
    height:80px;

    display: flex;
    align-items: center;
    
    margin:auto;
}

.MySave .image-box img{
    width:26px;
}

.MySave .title-box{
    width:calc(100% - 40px);
    height:30px;

    display: flex;
    align-items: center;

    margin:auto;
    margin-bottom:30px;
}

.MySave .title-box h2{
    font-family: 'SUIT';
    font-weight:700;
    font-size:24px;
    color:#1C1B1F;
}


.SaveList{
    width:calc(100% - 40px);
    height:70px;
    
    border-bottom:0.5px solid rgba(0, 0, 0, 0.2);


    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.SaveList img:first-child{
    width:44px;
    height:44px;
}

.SaveList img{
    width:22px;
}

.SaveList .text-box{
    width:calc(100% - 90px);
    height:auto;
}

.SaveList .text-box h2{
    font-family: 'SUIT';
    font-weight:700;
    font-size:15px;
    color:#000000;
}

.SaveList .text-box p{
    font-family: 'SUIT';
    font-weight:600;
    font-size:13px;
    margin-top:5px;
    color:rgba(0, 0, 0, 0.5);
}

.SaveList .delete-box{
    width:26px;
    height:26px;
}

.SaveList .delete-box img{
    width:26px;
    height:26px;
}