@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*{
  margin:0;
}

body{
  width:100vw;
  height:100vh;
  overflow: hidden;
}

#root{
  width:100vw;
  height:100vh;
}

.App{
  width:100vw;
  height:100vh;
}